@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  color: #333;
  box-sizing: border-box;
  scrollbar-width: thin;
}
html{
  scroll-behavior:smooth ;
}
/* @keyframes animationSlide {
  from {
    transform: rotateY(100%);
  }
  to {
    transform: rotateY(0%);
  }
} */

.navbar {
  padding: 20px;
  margin: 0;
  background-color: white;
  font-weight: bold;
  position: fixed !important; 
  top: 0; 
  width: 100%; 
  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  transition: background-color 0.3s ease-in-out;
}

.navbar.fixed {
  background-color: white;
}

.navbar h1 {
  @apply text-blue-950 font-extrabold text-2xl
}
.links{
  @apply max-w-screen-xl flex items-center gap-2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar a {
  @apply xl:flex xl:pl-12 font-medium text-lg text-blue-950
}
.navbar ul{
  @apply hidden xl:flex pl-20 items-stretch mb-1 text-center
}
.navbar li{
  text-decoration: none;
  font-size: large;
  @apply text-black gap-6 flex-col text-center;
}
.mobile-nav-close {
  @apply flex h-[40vh] w-full bg-white items-center justify-center fixed inset-0 -translate-y-full
  border-[3px] border-[solid] border-blue-950
  ; 
  transition: transform 0.3s ease-in-out;
}
.mobile-nav-open {
  @apply flex h-[40vh] w-full bg-white items-center border-[3px] border-[solid] border-blue-950 justify-center fixed inset-0 translate-y-0 shadow-lg shadow-blue-950; 
  transition: transform 0.3s ease-in-out;
  z-index:200;
}

.icon{
  @apply align-middle justify-center bg-cover relative h-16 w-16;
  background-image: url(../img/veterinericon.jpg);
}

#servisler{
  @apply transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none;
  animation: animationSlide 1.7s ease-in;
}

.tumServisler{
  @apply flex font-bold text-xl no-underline w-52 h-14 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  align-items: center;
  justify-content: center;
}
.tumServisler1{
  @apply flex align-middle justify-center pt-12
}


.about-main{
  @apply align-middle justify-center flex xl:flex-row flex-col xl:align-middle xl:flex xl:gap-24 xl:relative bg-white xl:rounded-3xl xl:h-auto xl:m-10;
}
.about-text{
  @apply text-center xl:text-left flex flex-col xl:w-full xl:relative xl:pl-5 xl:pb-36 pt-8 pl-6 pr-6 xl:pr-0;
}
.about-text h1{
  @apply lg:font-extrabold lg:text-4xl text-blue-950
}
.about-img{
  @apply w-full border rounded-3xl
}
.about-img1{
  @apply bg-cover min-h-96 md:min-h-screen xl:min-h-full w-full rounded-3xl;
  background-image: url(../img/carousel-11.jpg);
}
.moreAbout li{
  @apply text-xl text-blue-950;
  list-style-type: "✔";
}

.content {
  margin: 40px auto;
}
.home{
  @apply overflow-hidden
}
.hero-main{
  @apply rounded-3xl xl:flex-row flex-col flex align-middle xl:gap-28 relative bg-indigo-50 xl:rounded-full w-full h-auto;
  animation: animationSlide 1.4s ease-in;

}
.hero-text{
  @apply text-center flex flex-col w-full relative xl:pl-16 pt-32 xl:pb-36 xl:pt-80;
}
.hero-text h1{
  @apply xl:font-extrabold xl:text-6xl text-blue-950
}
.hero-img{
  @apply min-h-full bg-cover w-full rounded-3xl;
  background-image: url(../img/anasayfa.png);
}
#linkedin{
  /* background-image: url(./photos/linkedin2.png); */
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  background-size: cover;
  text-indent: -999px;
  margin-top: 15px;
}
#github{
  /* background-image: url(./photos/github.png); */
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  height: 1.5rem;
  width: 1.53rem;
  background-size: cover;
  text-indent: -999px;
  margin-top: 15px;
}
.home span{
  display: flex;
  gap: 1rem;
}
.contents{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: rgb(245, 243, 239);
}
.contents h2{
  padding: 5rem;
}

.contactAll{
  @apply mt-20 pt-12 pb-8 flex flex-col text-left xl:mt-36 bg-indigo-100 xl:pl-24 xl:pt-20 xl:pr-32 xl:pb-20;
  font-size: 1.1rem;
}
.contactInfo{
  @apply flex-col xl:flex-row pt-6 xl:pt-12 xl:gap-20;
  display: flex;
  align-items: center;
}
.contactText{
  @apply text-center xl:text-left
}

.contactInfo span{
  display: flex;
}
.tumContact{
  @apply flex font-bold text-xl no-underline w-80 xl:w-72 h-14 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg xl:px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  align-items: center;
  justify-content: center;
}
.mail{
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
}
.mailAll{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.number{
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
}
.numberAll{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footerAll{
  @apply  text-center p-3 xl:p-12 xl:pl-64 xl:pr-80;
  background-color: rgba(0, 0, 0, 0.81);

}
.footerAll h3 {
  @apply mb-0;
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#linkedin2{
  display: flex;
  align-items: center;
  /* background-image: url(./photos/linkedin.png); */
  height: 1.4rem;
  width: 1.4rem;
  background-size: cover;
  text-indent: -999px;
  background-size: cover;
}
#instagram{
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-image: url(./photos/instagram.png); */
  height: 2rem;
  width: 2rem;
  background-size: cover;
  text-indent: -999px;
  border-radius: 100%;
  border-color: white;
}
.footerSocial{
  align-items: center;
  display: flex;
  gap: 1rem;
}

